<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="main.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>{{user.username}} 's Watch List</title>
    </head>
    <body>
        <a href="/" > &larr; Return </a>
        <h2 >{{user.username}}</h2>
        {% if user.age %}
            <i>{{user.age}}</i>
        {% else %}
            <i>This user has not input age</i>
        {% endif %}
        <h5>{{user.username}}'s WatchList ({{movies|length}}):</h5>
        <ul>
            {%for movie in movies%}
                <li>{{movie.name}} - {{movie.year}}</li>
            {%endfor%}
        </ul>
    </body>
</html>